<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator Web App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1 class="title">Simple Calculator Web App Using JavaScript</h1>
        <h2 class="author">By: Jared</h2>
    </header>
    <section class="calculator">
        <div class="container">
            <div>
                <input type="text" class="calc-display" disabled/>
            </div>
            <div class="keys">
                <div class="calculator-keys">
                    <button type="button" id="clear" value="clear" class="clear">C</button>
                    <button type="button" id="mod" value="%" class="operator">%</button>
                    <button type="button" id="dev" value="/" class="operator">/</button>
                </div>
                <div class="calculator-keys">
                    <button type="button" id="seven" value="7">7</button>
                    <button type="button" id="eight" value="8">8</button>
                    <button type="button" id="nine" value="9">9</button>
                    <button type="button" id="mul" value="*" class="operator">*</button>
                </div>
                <div class="calculator-keys">
                    <button type="button" id="four" value="4">4</button>
                    <button type="button" id="five" value="5">5</button>
                    <button type="button" id="six" value="6">6</button>
                    <button type="button" id="sub" value="-" class="operator">-</button>
                </div>
                <div class="calculator-keys">
                    <button type="button" id="one" value="1">1</button>
                    <button type="button" id="two" value="2">2</button>
                    <button type="button" id="three" value="3">3</button>
                    <button type="button" id="add" value="+" class="operator">+</button>
                </div>
                <div class="calculator-keys">
                    <button type="button" id="dec" value="." class="dec">.</button>
                    <button type="button" id="zero" value="0">0</button>
                    <button type="button" id="equal" value="equal" class="equal">=</button>
                </div>
            </div>
        </div>
    </section>

    <script src="../helper/calc.js"></script>
</body>
</html>